<style>
    .alg-wc-wl-counter {
        pointer-events: none;
        background: #aaa;
        color: #fff;
        border-radius: 50px;
        font-weight: bold;
        font-size: 11px;
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 14px;
        letter-spacing: -1px;
        padding-right: 1px;
        text-align: center;
        top: -5px;
        right: -11px;
        position: absolute;
    }
</style>
<summary
  class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
>
  <span>
    <span class="svg-wrapper">
      <a href="/pages/wishlist" style="position:relative; color:inherit;">
        <i class="fa-regular fa-bookmark icon"></i>
        <span class="alg-wc-wl-counter">0</span>
      </a>
    </span>
  </span>
</summary>
<script src="{{ 'update-wishlist.js' | asset_url }}" defer="defer"></script>
<script>
    updateWishlistCounter();
</script>
