<style>
    .alg-wc-wl-counter {
        pointer-events: none;
        background: #aaa;
        color: #fff;
        border-radius: 50px;
        font-weight: bold;
        font-size: 11px;
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 14px;
        letter-spacing: -1px;
        padding-right: 1px;
        text-align: center;
        top: -5px;
        right: -11px;
        position: absolute;
    }
</style>
<summary
  class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
>
  <span>
    <span class="svg-wrapper">
      <a href="/pages/wishlist" style="position:relative;">
        <i class="fa-regular fa-bookmark icon"></i>
        <span class="alg-wc-wl-counter">0</span>
      </a>
    </span>
  </span>
</summary>
<script>
    // Fetch the value from localStorage
    const wishlistCount = localStorage.getItem('wishList')?.length;
    // If the item is present in localStorage, update the counter, otherwise, set it to 0
    if (wishlistCount) {
        document.querySelector('.alg-wc-wl-counter').textContent = wishlistCount;
    } else {
        document.querySelector('.alg-wc-wl-counter').textContent = 0;
    }
</script>
