      <summary
        class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      >
        <span>
          <span class="svg-wrapper">
            <i class="fas fa-bookmark"></i>
          </span>
        </span>
      </summary>
  